
<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"> </DialogEvents>
    <DialogTemplates>
        <Header> @Title Department </Header>
        <Content>
            <EditForm Model="Department" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Id</label>
                            <input @bind="Department.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <InputText @bind-Value="Department.Name" class="form-control" />
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Business Unit</label>
                            @if (Department.BusinessUnit != null)
                            {
                                string selected = Department.BusinessUnit!.Name;
                                <SfDropDownList TValue="string" TItem="BusinessUnit" Placeholder="@selected" DataSource="BusinessUnits">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="BusinessUnit" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TValue="string" TItem="BusinessUnit" Placeholder="Select Business Unit" DataSource="BusinessUnits">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="BusinessUnit" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }

                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-end" type="submit">SAVE</button>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {
    [Parameter] public Department Department { get; set; } = new();
    [Parameter] public List<BusinessUnit> BusinessUnits { get; set; } = new();
    [Parameter] public EventCallback<Department> HandleSaveOperationEvent { get; set; }

    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";
    private async void Save()
    {
        if (string.IsNullOrEmpty(Department.Name) || Department.BusinessUnitId <= 0)
            await dialogService.AlertAsync("You need to provide Department name.", "Alert!");
        else
            await HandleSaveOperationEvent.InvokeAsync(Department);
    }

    public async Task OpenDialog()
    {
        IsVisible = true;
        await ForceLoadBusinessUnits();
        StateHasChanged();
    }
    async Task ForceLoadBusinessUnits() =>
    BusinessUnits = await businessUnitService.GetAll(Constants.BusinessUnitBaseUrl);

    public void ChangeTitle(string title)
    {
        Title = title;
    }

    public void OnValueChange(ChangeEventArgs<string, BusinessUnit> args)
    {
        Department.BusinessUnitId = int.Parse(args.Value);
    }
}
