@inject ILocaleStringResourceService LocaleService
<SfDialog Width="500px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>@Title</Header>
        <Content>
            <EditForm Model="Location" OnValidSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group mt-2">
                            <SfTextBox Placeholder=@nameText FloatLabelType="@FloatLabelType.Auto" @bind-Value="Location.Name"></SfTextBox>
                        </div>
                        <div class="form-group mt-2">
                            <SfTextBox Placeholder=@descriptionText FloatLabelType="@FloatLabelType.Auto" @bind-Value="Location.Description" Row="2"></SfTextBox>
                        </div>
                    </div>

                    <div class="card-footer">
                        <SfButton CssClass="e-primary float-end" Type="Submit" IconCss="e-icons e-save">@saveText</SfButton>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {
    [Parameter] public Location Location { get; set; } = new();
    [Parameter] public EventCallback<Location> HandleSaveOperationEvent { get; set; }
    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";

    private string? nameText;
    private string? descriptionText;
    private string? saveText;
    protected override async Task OnInitializedAsync()
    {
        nameText = await LocaleService.GetStringAsync("Vip.Name", 1);
        descriptionText = await LocaleService.GetStringAsync("Vip.Description", 1);
        saveText = await LocaleService.GetStringAsync("Vip.Save", 1);
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    async void Save()
    {
        if (string.IsNullOrEmpty(Location.Name))
            await dialogService.AlertAsync("You need to provide Location name.", "Alert!");
            else
            await HandleSaveOperationEvent.InvokeAsync(Location);
    }

    public void ChangeTitle(string title)
    {
        Title = title;
    }
}
